.navbar {
    background-color: #D2E4E1 !important;
    color: #fff;
    padding: 10px !important;

    &-brand {
        flex-grow: 1;

        .logo {
            height: 113px;
        }
    }

    &-light {
        & .navbar-nav .nav-link {
            background-color: #fff;
            color: #EA9150;
            border: 2px solid #EA9150;
            border-radius: 4px;
            padding: 10px 20px;
            font-family: Verdana, sans-serif;
            font-size: 15px;
            font-weight: bold;
            margin-right: 10px;
            text-align: center;
        }

        & .navbar-toggler {
            color: #EA9150;
            border-color: #EA9150;
        }
    }

    &-collapse {
        justify-content: flex-end;
    }
}